/*
*   SHUOSC style.css
*   Author: zhonger <wuwozhonger[at]gmail.com>
*/

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
figure {
    margin: 0;
    padding: 0;
}

.col-4 {
    width: 33.3333%;
    float: left;
}

.col-8 {
    width: 66.6666%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}

h3 {
    /*font-family: 微软雅黑;*/
    text-transform: uppercase;
    font-weight: 700;
    margin: 1em 0;
    font-size: 1.9em;
    line-height: 1.4em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.section {
    text-align: center;
}

.icon-container {
    width: 270px;
    padding: 18px 0;
    float: left;
    position: relative;
    text-align: left;
}

.icon-container [class^="czs-"],
.icon-container [class*=" czs-"] {
    font-size: 16px;
    color: #171717;
    position: absolute;
    margin-top: 5px;
    border: none;
    padding: 0;
    /*-webkit-transition: font-size .2s, margin-top .2s;*/
    /*-moz-transition: font-size .2s, margin-top .2s;*/
    /*transition: font-size .2s, margin-top .2s;*/
}

[class^="czs-"],
[class*=" czs-"] {
    font-family: 'strawberrry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-name {
    color: #666;
    margin-left: 35px;
    font-size: .8em;
    transition: .3s;
}


/* Header */

.header {
    background: #337C6B;
    font-size: 12px;
    color: #337C6B;
    align-content: center;
    background-image: url("/images/background.svg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_h1 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .75em;
    margin-bottom: .75em;
    display: block;
    font-size: 1.5em;
    /*font-family: sans-serif;*/
    line-height: 1.5;
    color: #ffffff;
    align-content: center;
}

.header_small {
    display: block;
    width: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: .66666667em;
    color: #fff;
    font-weight: normal;
    /*font-family: sans-serif;*/
    transition: 0.3s;
    text-decoration: none;
}

.header_small:hover {
    color: #171717;
}

.masthead {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 80px;
    line-height: 80px;
}

.navbar .logo {
    float: left;
    background-image: url(/images/logo_180.png);
    width: 300px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-y: center;
    margin: 5px 5px;
    padding-left: 20px;
    font-size: 26px;
}

.navbar .nav {
    float: right;
    color: #fff;
}

.navbar .nav li {
    float: left;
    font-size: 16px;
    padding: 0 15px;
    display: block;
}

.navbar .nav a {
    color: #fff;
}

.navbar .nav a:hover {
    color: #337C6B;
}

.navbar .nav .github {
    font-size: 16px;
    line-height: 84px;
}

.navbar .nav .navigation {
    color: #fff;
}

.title_name {
    color: #666;
    font-size: .8em;
    transition: .3s;
}

.icon-section {
    clear: both;
    overflow: hidden;
    margin-top: 30px;
}

.intro {
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    margin: 90px 0 70px 0;
}

button.download {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 14px 50px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 80px;
    cursor: pointer;
    transition: .5s;
    outline: none;
}

button.download:hover {
    background-color: #fff;
    color: #000;
    transition: .5s;
}

.donation {
    color: #fff;
    padding-bottom: 20px;
    position: relative;
}

.donation .icon {
    color: #fff;
    font-size: 16px;
}

.popover {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -90px;
    display: none;
}

.popover img {
    width: 156px;
    height: 156px;
    margin: 12px;
}

.donation a:hover .popover {
    display: inline;
}

.pagewidth {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section .pagewidth {
    padding: 2% 0 5%;
}

.icon-container:hover [class^="czs-"],
.icon-container:hover [class*=" czs-"] {
    font-size: 32px;
    margin-top: -3px;
    margin-left: 1px;
    -webkit-animation: bounceIn .5s;
    -moz-animation: bounceIn .5s;
    animation: bounceIn .5s;
}

.icon-container:hover .icon-name {
    color: #171717;
}

.icon-container:hover .icon-name {
    margin-left: 45px;
}

.icon-container.icon-lg {
    padding: 26px 0;
}

.icon-container.icon-lg>span:first-child {
    font-size: 32px;
    margin-top: -3px;
}

.icon-container.icon-lg:hover [class^="czs-"],
.icon-container.icon-lg:hover [class*=" czs-"] {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 0px;
    -webkit-animation: bounceIn .5s;
    -moz-animation: bounceIn .5s;
    animation: bounceIn .5s;
}

.icon-container.icon-lg .icon-name {
    margin-left: 45px;
}

.icon-container.icon-lg:hover .icon-name {
    margin-left: 35px;
}


/* Content*/

.content {
    background: #fff;
    font-size: 12px;
    color: #000;
    margin: 0 auto;
    width: 100%;
}

.content .activities {
    background-image: url(/images/mod-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content .about {
    background-image: url(/images/cloud.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.content .sections {
    width: 1080px;
    min-height: 400px;
    margin: 0 auto;
}

.content .sections .title {
    padding: 40px 0 10px;
    font-size: 30px;
    font-weight: 300;
}

.content .sections .subtitle {
    font-size: 16px;
    font-weight: 100;
}

.content .sections .s-content .s-item {
    background-color: #fff;
    border: 1px solid #f5f6f5;
    margin: 40px 16px 40px 0;
    padding: 30px;
    text-align: center;
    width: 287px;
    float: left;
}

.content .sections .s-content .s-item:last-child {
    margin-right: 0;
}

.content .sections .s-content .s-item:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    margin-top: 38px;
    transition-duration: 200ms;
}

.content .sections .s-content .s-item h4 {
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
}

.content .sections .s-content .s-item .s-description {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}

.swiper-container {
    margin: 30px 0 0 0;
    height: 220px;
}

.swiper-slide {
    padding-top: 10px;
}

.content .teams .swiper-slide .item {
    text-align: center;
    border: 1px solid #dcdcdc;
    height: 160px;
    padding: 10px;
    width: 235px;
    float: left;
}

.content .teams .swiper-slide .item:not(:last-child) {
    margin-right: 17px;
}

.content .teams .swiper-slide .item img {
    width: 70px;
}

.content .teams .swiper-slide .item h4 {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin: 10px 0;
}

.content .teams .swiper-slide .item p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 200;
    margin: 0 10px 0 15px;
}

.swiper-slide .item:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    transition-duration: 200ms;
    margin-top: -2px;
}

.swiper-button-prev {
    left: 0;
    top: 100px;
    background-image: url(/images/left.svg);
}

.swiper-button-next {
    right: 0;
    top: 100px;
    background-image: url(/images/right.svg);
}

.swiper-pagination {
    bottom: 0!important;
}

.swiper-pagination-bullet-active {
    background: #337C6B;
}

.content .about .subtitle {
    width: 600px;
    line-height: 25px;
    margin-top: 30px;
}

.content .about .button {
    border: 1px solid #fff;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    border-radius: 2px;
    margin-top: 40px;
    display: block;
    max-width: 80px;
}

.content .about .button:hover {
    background: #337C6B;
    border: 1px solid #337C6B;
}

.content .news {
    height: 450px;
}

.content .news .act .content {
    margin: 20px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    height: 250px;
}

.content .news .act .items {
    width: 350px;
    height: 30px;
    margin: 10px 0;
    display: block;
    float: left;
    color: #000;
}

.content .news .act .items:hover {
    color: #337C6B;
}

.content .news .act .items .i-date,
.i-space,
.i-title {
    display: block;
    float: left;
}

.content .news .act .items .i-title {
    width: 250px;
    margin-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .news .act .more {
    display: block;
    float: left;
    color: #337C6B;
    font-size: 16px;
}

.content .news .act .more:hover {
    text-decoration: underline;
}

.content .news .pre .content {
    height: 350px;
    overflow: auto;
}

.content .news .pre .items {
    background: #337C6B;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 0;
    color: #fff;
}

.content .news .pre .items:nth-child(even) {
    background: #30BC9F;
}

.content .news .pre .items h2,
h4,
p {
    font-weight: 300;
}

.content .news .pre .items h2 {
    font-size: 20px;
    line-height: 30px;
}

.content .news .pre .items h4 {
    font-size: 16px;
    line-height: 24px;
}

.content .news .pre .item p {
    font-size: 12px;
}


/* Footer */

.footer {
    background: #f5f6f5;
    font-size: 12px;
    color: #000;
}

.footer .wrap {
    height: 120px;
    width: 1080px;
    margin: 0 auto;
}

.footer .wrap .left {
    float: left;
    display: block;
    font-weight: normal;
    font-size: 28px;
    margin: 10px 10px;
    background-image: url(/images/logo_72.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 65px;
    height: 100px;
    color: #397C6B;
    width: 250px;
    text-align: center;
}

.footer .wrap .left .title {
    margin-top: 20px;
}

.footer .wrap .left .subtitle {
    font-size: 11px;
    font-weight: bold;
}

.footer .wrap .middle {
    float: left;
    display: block;
    font-size: 14px;
    margin: 20px auto;
    margin-left: 40px;
    width: 150px;
    color: #397C6B;
    align-content: center;
}

.footer .wrap .links {
    width: 350px;
    height: 80px;
}

.footer .wrap .middle div {
    line-height: 26px;
    min-width: 80px;
    display: inline-block;
}

.footer .wrap .right {
    float: right;
}

.footer .wrap .right .wx {
    width: 100px;
    margin: 10px 30px;
}

.footer .wrap a {
    color: #397C6B;
}

.footer .wrap a:hover {
    color: #7b7b7b;
}

.footer .wrap .links a:hover {
    padding-left: 8px;
    transition-duration: 200ms;
}


/* 响应式 */

@media all and (max-width: 1080px) {
    .header .masthead {
        width: calc(100% - 60px);
        padding: 0 30px;
    }
    .footer .wrap {
        width: calc(100% - 60px);
        padding: 0 30px;
    }
    .pagewidth {
        padding: 0 30px;
    }
}

@media all and (max-width: 480px) {
    .header .masthead {
        width: 100%;
        padding: 0;
    }
    .navbar {
        background-color: #171717;
        height: 60px;
        border-bottom: 1px solid #1f1f1f;
    }
    .navbar .nav {
        display: none;
    }
    .navbar .logo {
        background-image: url(../img/logo_mobile.svg);
        width: 40px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 40px 60px;
        float: none;
        margin: 0 auto;
    }
    .intro {
        margin: 28px 16px 40px 16px;
    }
    .donation {
        display: none;
    }
    button.download {
        margin-bottom: 40px;
    }
    .footer {
        line-height: 40px;
    }
    .footer .wrap {
        height: 88px;
        padding: 4px 0;
        text-align: center;
    }
    .footer .wrap .left,
    .footer .wrap .right {
        float: none;
    }
    .footer .wrap .left {
        display: flex;
        flex-direction: column;
    }
    .footer .wrap .design-by {
        margin: -18px 0;
    }
}